<article class="container_12">
	<h2>{{userCtrl.user.full_name}}</h2>
	<section class="grid_8">
    <div class="block-content form">
      <label for="firstName" class="">First Name</label>
      <input type="text" data-ng-model="userCtrl.user.first_name" id="firstName" class="full-width" data-on-change="userCtrl.update('first_name')">
      <label for="lastName" class="">Last Name</label>
      <input type="text" data-ng-model="userCtrl.user.last_name" id="lastName" class="full-width" data-on-change="userCtrl.update('last_name')">
      <label for="email" class="">Email Address</label>
      <input type="text" data-ng-model="userCtrl.user.email" id="email" class="full-width" data-on-change="userCtrl.update('email')">
      <label for="userName" class="">Username</label>
      <input type="text" data-ng-model="userCtrl.user.user_name" id="userName" class="full-width" data-on-change="userCtrl.update('user_name')">
      <label>Account Type</label>
      <select data-ng-model="userCtrl.user.type"
              data-ng-options="type.id as type.name for type in userCtrl.userTypes"
              data-ng-change="userCtrl.update('type')">
      </select>
      <label for="disabled">Disabled</label>
      <input type="checkbox" data-ng-model="userCtrl.user.disabled" id="disabled" data-ng-change="userCtrl.update('disabled')">
      <label for="notes" class="">Notes</label>
      <textarea data-ng-model="userCtrl.user.notes" id="notes" rows="10" class="full-width" data-on-change="userCtrl.update('notes')"></textarea>
    </div>
    <div class="block-border">
      <p class="message error no-margin" data-ng-show="pwError">{{pwError}}</p>
      <form class="block-content form" id="simple_form" method="POST" action="user">
        <h1>Change Password</h1>
        <input type="hidden" name="id" id="id" value="{{userCtrl.user.id}}"/>
        <label>Password</label>
        <input type="password" name="password" class="full-width"/>
        <label>Confirm Password</label>
        <input type="password" name="passConf" class="full-width"/>
        <button type="submit">Change</button>
      </form>
    </div>
	</section>
</article>