<div>
<section class="grid_8">
	<div class="block-border">
		<form class="block-content form" id="complex_form" method="post" action="">
			<h1>Assessment: {{appointment.patient}} {{appointment.start}}</h1>
			<div class="columns">
				<div class="col200pxL-left">
					<h2>Status</h2>
					<ul class="side-tabs js-tabs same-height">
						<li><a href="#general" title="General">General</a></li>
						<li ng-repeat="cat in appointment.categories">
							<a href="#{{cat.id}}" title="{{cat.name}}">{{cat.name}}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col200pxL-right">
				<div id="general" class="tabs-content"><h2>hello There General.</h2></div>
				<div ng-repeat="cat in appointment.categories" id="{{cat.id}}" class="tabs-content">
					<h2>Hello There {{cat.name}}.</h2>
				</div>
			</div>
		</form>
	</div>
</section>
<div class="clear"></div>
<div class="clear"></div>
</div>
