<article class="container_12">
  <section class="grid_8">
    <div class="block-border">
      <p class="message error no-margin" data-ng-show="userAddCtrl.error">{{userAddCtrl.error}}</p>
      <div class="block-content form">
        <h1>User Registration</h1>
        <fieldset class="white-bg required">
          <div class="columns">
            <div class="colx3-left">
              <label for="firstName" class="">First Name</label>
              <input type="text" data-ng-model="userAddCtrl.user.first_name" id="firstName" class="full-width">
            </div>
            <div class="colx3-center">
              <label for="lastName" class="">Last Name</label>
              <input type="text" data-ng-model="userAddCtrl.user.last_name" id="lastName" class="full-width">
            </div>
            <div class="colx3-right">
              <label for="email" class="">Email Address</label>
              <input type="text" data-ng-model="userAddCtrl.user.email" id="email" class="full-width">
            </div>
          </div>
          <div class="columns">
            <div class="colx3-left">
              <label>Account Type</label>
              <select data-ng-model="userAddCtrl.user.type"
                      data-ng-options="type.id as type.name for type in userAddCtrl.userTypes">
              </select>
            </div>
            <p class="colx3-center">
              <label>Password</label>
              <input type="password" name="password" class="full-width"/>
            </p>
            <p class="colx3-right">
              <label>Confirm Password</label>
              <input type="password" name="passConf" class="full-width"/>
            </p>
          </div>
          <label for="notes" class="">Notes</label>
          <textarea data-ng-model="userAddCtrl.user.notes" id="notes" rows="10" class="full-width"></textarea>
        </fieldset>

        <fieldset class="grey-bg no-margin">
          <button style="float:right" data-ng-click="userAddCtrl.create()">Submit</button>
        </fieldset>

      </div>
    </div>
  </section>
  <div class="clear"></div>
  <div class="clear"></div>
</article>