<div class="block-content form">
	<label for="first_name">First Name</label>
	<input type="text" ng-model="nurse.user.firstName" id="first_name" class="full-width" on-change="update(nurse.user)"/>
	<label for="last_name">Last Name</label>
	<input type="text" ng-model="nurse.user.lastName" id="last_name" class="full-width" on-change="update(nurse.user)"/>
	<label for="address">Home Address</label>
	<input type="text" ng-model="nurse.address" id="address" class="full-width" on-change="update(nurse)"/>
	<label for="email">Email Address</label>
	<input type="text" ng-model="nurse.user.email" id="email" class="full-width" on-change="update(nurse.user)"/>
	<label for="payrate">Pay Rate</label>
	<input type="text" ng-model="nurse.payRate" id="pay_rate" class="full-width" on-change="update(nurse)"/>
	<label for="pay_rate_2hr_soc">< 2hr SOC Pay Rate</label>
	<input type="text" ng-model="nurse.payRate2HrSoc" id="pay_rate_2hr_soc" class="full-width" on-change="update(nurse)"/>
	<label for="pay_rate_2hr_roc">< 2hr ROC Pay Rate</label>
	<input type="text" ng-model="nurse.payRate2HrRoc" id="pay_rate_2hr_roc" class="full-width" on-change="update(nurse)"/>
	<label for="mileage_rate">Mileage Rate</label>
	<input type="text" ng-model="nurse.mileageRate" id="mileage_rate" class="full-width" on-change="update(nurse)"/>
	<label for="notes">Notes</label>
	<textarea ng-model="nurse.user.notes" id="notes" class="full-width" on-change="update(nurse.user)"></textarea>
</div>