<section class="grid_12">
  <div class="block-border">
    <div class="block-content">
      <h1>Calendar</h1>

      <div class="block-controls">
        <ul class="controls-buttons">
          <li><a data-ng-click="calCtrl.prevMonth()" title="Previous month">
            <img src="images/icons/fugue/navigation-180.png" width="16" height="16" alt="Previous month">
          </a></li>
          <li class="sep"></li>
          <li class="controls-block"><strong>{{calCtrl.getMonth() | date:'MMM yyyy'}}</strong></li>
          <li class="sep"></li>
          <li><a data-ng-click="calCtrl.nextMonth()" title="Next month">
            <img src="images/icons/fugue/navigation.png" width="16" height="16" alt="Next month">
          </a></li>
        </ul>
      </div>

      <div class="no-margin">
        <table class="calendar">
          <thead>
          <tr>
            <th scope="col" class="black-cell"><span class="success"></span></th>
            <th scope="col" class="week-end">Sunday</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col" class="week-end">Saturday</th>
          </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="week in calCtrl.weeks">
              <th scope="row">{{week.weekOfYear}}</th>
              <td data-ng-repeat="day in week.days"
                  data-ng-class="{'week-end': day.weekend, 'other-month': day.otherMonth}">
                <a href="#" class="day">{{day.date.getDate()}}</a>
                <ul class="dot-events with-children-tip">
                  <li data-ng-repeat="notification in day.notifications" style="{{notification.style}}" title="{{notification.title}}">
                    <a href="#{{notification.entity}}/{{notification.entityId}}">{{notification.title}}</a>
                  </li>
                </ul>
                <a data-ng-click="calCtrl.showAddDialog(day.date)" class="add-event">Add</a>
                <ul class="events">
                  <li data-ng-repeat="appointment in day.appointments">
                    <a data-ng-click="calCtrl.edit(appointment)">
                      <div data-ng-if="!appointment.cancelled">
                        <b>{{appointment.startTime | date:'shortTime'}}</b> {{appointment.displayValue}}
                      </div>
                      <del data-ng-if="appointment.cancelled">
                        <b>{{appointment.startTime | date:'shortTime'}}</b> {{appointment.displayValue}}
                      </del>
                    </a>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <ul class="message no-margin">
        <li>{{calCtrl.appointmentCount}} appointments found</li>
      </ul>
    </div>
  </div>
  <div data-ng-show="calCtrl.addDialogShown" id="addModal" style="display: block; position:absolute; left:0px;" data-ng-style="calCtrl.dialogStyle">
    <div class="modal-window block-border">
      <ul class="action-tabs right">
        <li><a data-ng-click="calCtrl.closeDialog()" title="Close window">
          <img src="images/icons/fugue/cross-circle.png" width="16" height="16" alt="Close window">
        </a></li>
      </ul>
      <div class="block-content form">
        <div class="columns">
          <label>Patient</label>
          <select data-ng-model="calCtrl.newAppointment.patientId"
                  data-ng-options="patient.id as patient.fullName for patient in calCtrl.patients | orderBy:'fullName'">
          </select>
        </div>
        <div class="columns">
          <label>Nurse</label>
          <select data-ng-model="calCtrl.newAppointment.nurseId"
                  data-ng-options="nurse.id as nurse.fullName for nurse in calCtrl.nurses | orderBy:'fullName'">
          </select>
        </div>
        <div class="columns">
          <div class="colx3-left">
            <label>Date</label>
            <div data-dd4-datepicker data-ng-model="calCtrl.newAppointment.date"></div>
          </div>
          <div class="colx3-center">
            <label>Start Time</label>
            <div data-dd4-timepicker data-ng-model="calCtrl.newAppointment.startTime"></div>
          </div>
          <div class="colx3-right">
            <label>End Time</label>
            <div data-dd4-timepicker data-ng-model="calCtrl.newAppointment.endTime"></div>
          </div>
        </div>
        <div class="columns">
          <div class="colx2-left">
            <label>Repeat</label>
            <select data-ng-model="calCtrl.newAppointment.repeat.type"
                    data-ng-options="repeat for repeat in calCtrl.repeatOptions"></select>
          </div>
          <div class="colx2-right" data-ng-if="calCtrl.newAppointment.repeat.type != 'Does_not_repeat'">
            <label>End</label>
            <input type="radio" name="end">
            <label>Until</label>
            <div data-dd4-datepicker data-ng-model="calCtrl.newAppointment.repeat.until"></div>
            <input type="radio" name="end" value="visits">
            <label>Visits</label>
            <input type="number" data-ng-model="calCtrl.newAppointment.repeat.visits" style="width:40px">
          </div>
        </div>
        <button data-ng-click="calCtrl.create()">Add</button>
        <button data-ng-click="calCtrl.closeDialog()">Cancel</button>
      </div>
    </div>
  </div>
  <div data-ng-show="calCtrl.editDialogShown" id="editModal" style="display: block; position:absolute; left:0px;" data-ng-style="calCtrl.dialogStyle">
    <div class="modal-window block-border">
      <ul class="action-tabs right">
        <li><a data-ng-click="calCtrl.closeDialog()" title="Close window">
          <img src="images/icons/fugue/cross-circle.png" width="16" height="16" alt="Close window">
        </a></li>
      </ul>
      <div class="block-content form">
        <div class="columns">
          <div class="colx2-left">
            <label>Patient</label>
            <select data-ng-model="calCtrl.editAppointment.patientId"
                    data-ng-options="patient.id as patient.fullName for patient in calCtrl.patients | orderBy:'fullName'">
            </select>
          </div>
          <div class="colx2-right">
            <a href="#assessment/{{calCtrl.editAppointment.id}}">Open</a>
          </div>
        </div>
        <label>Nurse</label>
        <select data-ng-model="calCtrl.editAppointment.nurseId"
                data-ng-options="nurse.id as nurse.fullName for nurse in calCtrl.nurses | orderBy:'fullName'">
        </select>
        <div class="columns">
          <div class="colx2-left">
            <span class="label">Date</span>
            <div data-dd4-datepicker data-ng-model="calCtrl.editAppointment.date"></div>
          </div>
          <div class="colx2-right">
            <input type="checkbox" data-ng-model="calCtrl.editAppointment.cancelled"/><label>Cancelled</label>
            <span data-ng-show="calCtrl.editAppointment.cancelled">
              <label>Reason</label>
              <input type="text" data-ng-model="calCtrl.editAppointment.cancelReason"/>
            </span>
          </div>
        </div>
        <div class="columns">
          <div class="colx2-left">
            <label>Start Time</label>
            <dd4-time data-ng-model="calCtrl.editAppointment.startTime"></dd4-time>
          </div>
          <div class="colx2-right">
            <label>End Time</label>
            <dd4-time data-ng-model="calCtrl.editAppointment.endTime"></dd4-time>
          </div>
        </div>
        <button data-ng-click="calCtrl.saveEdits()">Save</button>
        <button data-ng-click="calCtrl.closeDialog()">Cancel</button>
      </div>
    </div>
  </div>
</section>