<article class="container_12">
  <section class="grid_8">
    <div class="block-border">
      <div class="error-block"></div>
      <div class="block-content form" id="intake-form">
        <h1>Referral form</h1>
        <fieldset class="white-bg">
          <legend>Referral</legend>
          <div class="columns">
            <div class="colx2-left">
              <label>Referral Date</label>
              <div data-dd4-datepicker data-ng-model="intakeCtrl.patient.referralDate"></div>
            </div>
            <p class="colx2-right">
              <label for="referralSourceId" class="required">Referral Source</label>
              <select data-ng-model="intakeCtrl.patient.referralSourceId" id="referralSourceId" class="full-width"
                      data-ng-options="vendor.id as vendor.name for vendor in intakeCtrl.vendors | orderBy:'name'">
              </select>
            </p>
          </div>
          <div class="columns">
            <div class="colx3-left">
              <label for="name" class="required">Name</label>
              <input type="text" data-ng-model="intakeCtrl.patient.name" id="name" class="full-width">
            </div>
            <div class="colx3-center">
              <label for="dateOfBirth">Date of Birth</label>
              <div data-dd4-datepicker data-ng-model="intakeCtrl.patient.dateOfBirth" id="dateOfBirth"></div>
            </div>
            <div class="colx3-right">
              <label for="dianosisId">Diagnosis</label>
              <select data-ng-model="intakeCtrl.patient.dianosisId" id="dianosisId" class="full-width"
                      data-ng-options="generalData.id as generalData.name for generalData in generalDataService.list(GeneralData.DIANOSIS) | orderBy:'name'">
              </select>
            </div>
          </div>
          <div class="columns">
            <p class="colx3-left">
              <label for="therapyTypeId">Therapy Type</label>
              <select data-ng-model="intakeCtrl.patient.therapyTypeId" id="therapyTypeId" class="full-width"
                      data-ng-options="generalData.id as generalData.name for generalData in generalDataService.list(GeneralData.THERAPY_TYPE) | orderBy:'name'">
              </select>
            </p>
            <div class="colx3-center">
              <label for="rx">Pt Rx</label>
              <input type="text" data-ng-model="intakeCtrl.patient.rx" id="rx" class="full-width">
            </div>
            <p class="colx3-right">
              <label for="ivAccessId">IV Access</label>
              <select data-ng-model="intakeCtrl.patient.ivAccessId" id="ivAccessId" class="full-width"
                      data-ng-options="generalData.id as generalData.name for generalData in generalDataService.list(GeneralData.IV_ACCESS) | orderBy:'name'">
              </select>
            </p>
          </div>
          <div class="columns">
            <div class="colx3-left">
              <p><span class="label">Patient Type</span>
                <div data-ng-repeat="generalData in generalDataService.list(GeneralData.PATIENT_STATUS) | orderBy:'rank'">
                  <input type="radio" data-ng-model="intakeCtrl.patient.patientStatusId" value="{{generalData.id}}">
                  <label>{{generalData.name}}</label>
                </div>
              </p>
            </div>
            <div class="colx3-center">
              <label>Start Date</label>
              <div data-dd4-datepicker data-ng-model="intakeCtrl.patient.startOfCareDate"></div>
            </div>
            <div class="colx3-right">
              <label>Est. Last Day of Service</label>
              <div data-dd4-datepicker data-ng-model="intakeCtrl.patient.estLastDayOfService"></div>
            </div>
          </div>
          <div class="columns">
            <p class="colx3-left">
              <label for="billingId" class="required">Billing</label>
              <select data-ng-model="intakeCtrl.patient.billingId" id="billingId" class="full-width"
                data-ng-options="vendor.id as vendor.name for vendor in intakeCtrl.vendors | orderBy:'name'">
              </select>
            </p>
            <p class="colx3-center">
              <label for="primaryPhoneNumber">Primary Phone Number</label>
              <input type="text" data-ng-model="intakeCtrl.patient.primaryPhone.number" id="primaryPhoneNumber" size="14">
              <select data-ng-model="intakeCtrl.patient.primaryPhone.typeId" id="primaryPhoneTypeId"
                      data-ng-options="generalData.id as generalData.name for generalData in generalDataService.list(GeneralData.PHONE_TYPE) | orderBy:'rank'">
              </select>
            </p>
            <p class="colx3-right">
              <label for="alternatePhoneNumber">Alt Contact Number</label>
              <input type="text" data-ng-model="intakeCtrl.patient.alternatePhone.number" id="alternatePhoneNumber" size="14">
              <select data-ng-model="intakeCtrl.patient.alternatePhone.typeId" id="alternatePhoneTypeId"
                      data-ng-options="generalData.id as generalData.name for generalData in generalDataService.list(GeneralData.PHONE_TYPE) | orderBy:'rank'">
              </select>
            </p>
          </div>
          <div class="columns">
            <div class="colx2-left">
              <label for="serviceAddress">Service Address</label>
              <div data-dd4-address data-ng-model="intakeCtrl.patient.serviceAddress" id="serviceAddress" class="full-width"></div>
            </div>
            <div class="colx2-right">
              <label for="serviceAddressUnit">Unit #</label>
              <input type="text" data-ng-model="intakeCtrl.patient.serviceAddress.unit" id="serviceAddressUnit" size="4">
            </div>
          </div>
          <div class="columns">
            <p class="colx3-left">
              <label for="emergencyContact">Emergency Contact</label>
              <input type="text" data-ng-model="intakeCtrl.patient.emergencyContact" id="emergencyContact" class="full-width">
            </p>
            <p class="colx3-center">
              <label for="emergencyContactPhoneNumber">Emergency Contact Number</label>
              <input type="text" data-ng-model="intakeCtrl.patient.emergencyContactPhone.number" id="emergencyContactPhoneNumber" size="14">
              <select data-ng-model="intakeCtrl.patient.emergencyContactPhone.typeId" id="emergencyContactPhoneTypeId"
                      data-ng-options="generalData.id as generalData.name for generalData in generalDataService.list(GeneralData.PHONE_TYPE) | orderBy:'rank'">
              </select>
            </p>
          </div>
          <div class="columns">
            <div class="colx3-left">
              <p><span class="label">Labs? [Frequency]</span><input type="checkbox">
                <input type="text" data-ng-model="intakeCtrl.patient.labsFrequency" id="labsFrequency"></p>
            </div>
            <div class="colx3-center">
              <label>1st Re-certification</label>
              <div data-dd4-datepicker data-ng-model="intakeCtrl.patient.firstRecertDue"></div>
            </div>
            <div class="colx3-right">
              <label>DC Date</label>
              <div data-dd4-datepicker data-ng-model="intakeCtrl.patient.dcDate"></div>
            </div>
          </div>
          <div class="columns">
            <div class="colx3-left">
              <label for="infoInSOS">PT Info in SOS?</label>
              <input type="checkbox" class="full-width" data-ng-model="intakeCtrl.patient.infoInSOS" id="infoInSOS">
            </div>
            <p class="colx3-right-double">
              <label for="schedulingPreference">Scheduling Preference</label>
              <input type="text" data-ng-model="intakeCtrl.patient.schedulingPreference" id="schedulingPreference" class="full-width">
            </p>
          </div>
          <label for="referralNote">Notes</label>
          <textarea data-ng-model="intakeCtrl.patient.referralNote" id="referralNote" rows="10" class="full-width">
          </textarea>
        </fieldset>

        <fieldset>
          <legend>Referral Status</legend>
          <div class="columns">
            <div class="colx3-left">
              <p>
                <span class="label">Accepted?</span>
                <input type="radio" name="accepted[]" id="simple-checkbox-1" value="1">&nbsp;<label for="accepted-1">Yes</label>
                <input type="radio" name="accepted[]" id="simple-checkbox-2" value="2">&nbsp;<label for="accepted-2">No</label>
              </p>
            </div>
            <p class="colx3-right-double">
              <label for="explain">Explain:</label> <input type="TEXT" name="explain" id="explain" class="full-width">
            </p>
          </div>

          <p>
            <span class="label"></span>
            <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-1" value="1">&nbsp;<label for="simple-checkbox-1">Confirmed w/ Vendor</label>
            <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-2" value="2">&nbsp;<label for="simple-checkbox-2">Confirmed w/ Nurse</label>
            <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-2" value="2">&nbsp;<label for="simple-checkbox-2">Sent Patient Info</label>
            <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-2" value="2">&nbsp;<label for="simple-checkbox-2">Added to Calendar</label>
          </p>
          <div class="columns">
            <div class="colx2-left">
              <p>
                <span class="label"></span>
                <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-1" value="1">&nbsp;<label for="simple-checkbox-1">Patient Confirmed</label>
                <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-2" value="2">&nbsp;<label for="simple-checkbox-2">Meds Delivered?</label>
              </p>
            </div>
            <p class="colx2-right">
              <label>Anticipated Delivery Date:</label>
              <div data-dd4-datepicker data-ng-model="intakeCtrl.patient.antiDeliveryDate"></div>
            </p>
          </div>
        </fieldset>
        <div class="error-block"></div>
        <fieldset class="grey-bg no-margin">
          <legend>Action on create</legend>
          <p class="input-with-button">
            <label for="simple-action">Select action</label> <select name="simple-action" id="simple-action">
            <option value="1">Save and accept</option>
            <option value="2" selected="">Save only</option>
          </select>
            <button data-ng-click="intakeCtrl.create()">Create</button>
          </p>
        </fieldset>
      </div>
    </div>
  </section>
  <div class="clear"></div>
  <div class="clear"></div>
</article>