<article class="container_12">
  <section class="grid_8">
    <div class="block-border">
      <div class="error-block"></div>
      <div class="block-content form" id="intake-form">
        <h1>Referral form</h1>
        <fieldset class="white-bg">
          <legend>Referral</legend>
          <div class="columns">
            <div class="colx2-left">
              <label>Referral Date</label>
              <div data-dd4-datepicker data-ng-model="$ctrl.patient.referralDate"></div>
            </div>
            <div class="colx2-right">
              <label for="referralSource">Referral Source</label>
              <input type="text" id="referralSource" list="referralSourceList" data-ng-model="$ctrl.patient.referralSource" class="full-width">
              <datalist id="referralSourceList">
                <option data-ng-repeat="vendor in $ctrl.vendors | orderBy:'name'" value="{{vendor.name}}"></option>
              </datalist>
            </div>
          </div>
          <div class="columns">
            <div class="colx2-left">
              <label for="firstName" class="required">First Name</label>
              <input type="text" data-ng-model="$ctrl.patient.firstName" id="firstName" class="full-width">
            </div>
            <div class="colx2-right">
              <label for="lastName" class="required">Last Name</label>
              <input type="text" data-ng-model="$ctrl.patient.lastName" id="lastName" class="full-width">
            </div>
          </div>
          <div class="columns">
            <div class="colx2-left">
              <label for="dateOfBirth">Date of Birth</label>
              <div data-dd4-datepicker data-ng-model="$ctrl.patient.dateOfBirth" id="dateOfBirth"></div>
            </div>
            <div class="colx2-right">
              <label for="diagnosis">Diagnosis</label>
              <input type="text" id="diagnosis" list="diagnosisList" data-ng-model="$ctrl.patient.diagnosis" class="full-width">
              <datalist id="diagnosisList">
                <option data-ng-repeat="gd in generalDataService.list(GeneralData.DIAGNOSIS) | orderBy:'name'"
                        value="{{gd.name}}"></option>
              </datalist>
            </div>
          </div>
          <div class="columns">
            <div class="colx3-left">
              <label for="therapyType">Therapy Type</label>
              <input type="text" id="therapyType" list="therapyTypeList" data-ng-model="$ctrl.patient.therapyType" class="full-width">
              <datalist id="therapyTypeList">
                <option data-ng-repeat="gd in generalDataService.list(GeneralData.THERAPY_TYPE) | orderBy:'name'"
                        value="{{gd.name}}"></option>
              </datalist>
            </div>
            <div class="colx3-center">
              <label for="rx">Pt Rx</label>
              <input type="text" id="rx" list="rxList" data-ng-model="$ctrl.patient.rx" class="full-width">
              <datalist id="rxList">
                <option data-ng-repeat="gd in generalDataService.list(GeneralData.RX) | orderBy:'name'"
                        value="{{gd.name}}"></option>
              </datalist>
            </div>
            <div class="colx3-right">
              <label for="ivAccess">IV Access</label>
              <input type="text" id="ivAccess" list="ivAccessList" data-ng-model="$ctrl.patient.ivAccess" class="full-width">
              <datalist id="ivAccessList">
                <option data-ng-repeat="gd in generalDataService.list(GeneralData.IV_ACCESS) | orderBy:'name'"
                        value="{{gd.name}}"></option>
              </datalist>
            </div>
          </div>
          <div class="columns">
            <div class="colx3-left">
              <label>Titration</label>
              <input type="text" data-ng-model="$ctrl.patient.titration" class="full-width">
            </div>
            <div class="colx3-center">
              <label>Start Date</label>
              <div data-dd4-datepicker data-ng-model="$ctrl.patient.startOfCareDate"></div>
            </div>
            <div class="colx3-right">
              <label>Est. Last Day of Service</label>
              <div data-dd4-datepicker data-ng-model="$ctrl.patient.estLastDayOfService"></div>
            </div>
          </div>
          <div class="columns">
            <div class="colx3-left">
              <label for="billingVendorId" class="required">Billing</label>
              <select data-ng-model="$ctrl.patient.billingVendorId" id="billingVendorId" class="full-width"
                      data-ng-options="vendor.id as vendor.name for vendor in $ctrl.vendors | orderBy:'name'">
              </select>
            </div>
            <div class="colx3-center">
              <label for="primaryPhoneNumber">Primary Phone Number</label>
              <input type="text" data-ng-model="$ctrl.patient.primaryPhone.number" id="primaryPhoneNumber" size="14">
              <select data-ng-model="$ctrl.patient.primaryPhone.typeId" id="primaryPhoneTypeId"
                      data-ng-options="generalData.id as generalData.name for generalData in generalDataService.list(GeneralData.PHONE_TYPE) | orderBy:'rank'">
              </select>
            </div>
            <div class="colx3-right">
              <label for="alternatePhoneNumber">Alt Contact Number</label>
              <input type="text" data-ng-model="$ctrl.patient.alternatePhone.number" id="alternatePhoneNumber" size="14">
              <select data-ng-model="$ctrl.patient.alternatePhone.typeId" id="alternatePhoneTypeId"
                      data-ng-options="generalData.id as generalData.name for generalData in generalDataService.list(GeneralData.PHONE_TYPE) | orderBy:'rank'">
              </select>
            </div>
          </div>
          <div class="columns">
            <div class="colx2-left">
              <label for="serviceAddress">Service Address</label>
              <div data-dd4-address data-ng-model="$ctrl.patient.serviceAddress" id="serviceAddress" class="full-width"></div>
            </div>
            <div class="colx2-right">
              <label for="serviceAddressUnit">Unit #</label>
              <input type="text" data-ng-model="$ctrl.patient.serviceAddress.unit" id="serviceAddressUnit" size="4">
            </div>
          </div>
          <div class="columns">
            <div class="colx3-left">
              <label for="emergencyContact">Emergency Contact</label>
              <input type="text" data-ng-model="$ctrl.patient.emergencyContact" id="emergencyContact" class="full-width">
            </div>
            <div class="colx3-center">
              <label for="emergencyContactPhoneNumber">Emergency Contact Number</label>
              <input type="text" data-ng-model="$ctrl.patient.emergencyContactPhone.number" id="emergencyContactPhoneNumber" size="14">
              <select data-ng-model="$ctrl.patient.emergencyContactPhone.typeId" id="emergencyContactPhoneTypeId"
                      data-ng-options="generalData.id as generalData.name for generalData in generalDataService.list(GeneralData.PHONE_TYPE) | orderBy:'rank'">
              </select>
            </div>
          </div>
          <div class="columns">
            <div class="colx3-left">
              <div><span class="label">Labs? [Frequency]</span><input type="checkbox">
                <input type="text" data-ng-model="$ctrl.patient.labsFrequency" id="labsFrequency">
              </div>
            </div>
            <div class="colx3-center">
              <label>1st Re-certification</label>
              <div data-dd4-datepicker data-ng-model="$ctrl.patient.firstRecertDue"></div>
            </div>
            <div class="colx3-right">
              <label>DC Date</label>
              <div data-dd4-datepicker data-ng-model="$ctrl.patient.dcDate"></div>
            </div>
          </div>
          <div class="columns">
            <div class="colx3-left">
              <label for="infoInSOS">PT Info in SOS?</label>
              <input type="checkbox" class="full-width" data-ng-model="$ctrl.patient.infoInSOS" id="infoInSOS">
            </div>
            <div class="colx3-right-double">
              <label for="schedulingPreference">Scheduling Preference</label>
              <input type="text" data-ng-model="$ctrl.patient.schedulingPreference" id="schedulingPreference" class="full-width">
            </div>
          </div>
          <label for="referralNote">Notes</label>
          <textarea data-ng-model="$ctrl.patient.referralNote" id="referralNote" rows="10" class="full-width">
          </textarea>
        </fieldset>

        <fieldset>
          <legend>Referral Status</legend>
          <div class="columns">
            <div class="colx3-left">
              <div>
                <span class="label">Accepted?</span>
                <input type="radio" name="accepted[]" id="accepted-1" value="1">&nbsp;<label for="accepted-1">Yes</label>
                <input type="radio" name="accepted[]" id="accepted-2" value="2">&nbsp;<label for="accepted-2">No</label>
              </div>
            </div>
            <div class="colx3-right-double">
              <label for="explain">Explain:</label> <input type="TEXT" name="explain" id="explain" class="full-width">
            </div>
          </div>

          <div>
            <span class="label"></span>
            <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-1" value="1">&nbsp;<label for="simple-checkbox-1">Confirmed w/ Vendor</label>
            <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-2" value="2">&nbsp;<label for="simple-checkbox-2">Confirmed w/ Nurse</label>
            <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-3" value="2">&nbsp;<label for="simple-checkbox-2">Sent Patient Info</label>
            <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-4" value="2">&nbsp;<label for="simple-checkbox-2">Added to Calendar</label>
          </div>
          <div class="columns">
            <div class="colx2-left">
              <div>
                <span class="label"></span>
                <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-1" value="1">&nbsp;<label for="simple-checkbox-1">Patient Confirmed</label>
                <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-2" value="2">&nbsp;<label for="simple-checkbox-2">Meds Delivered?</label>
              </div>
            </div>
            <p class="colx2-right">
              <label>Anticipated Delivery Date:</label>
              <div data-dd4-datepicker data-ng-model="$ctrl.patient.antiDeliveryDate"></div>
            </p>
          </div>
        </fieldset>
        <div data-ng-if="$ctrl.errorMessage" class="message error">{{$ctrl.errorMessage}}</div>
        <fieldset class="grey-bg no-margin">
          <legend>Action on create</legend>
          <div class="input-with-button">
            <label for="simple-action">Select action</label>
            <select name="simple-action" id="simple-action">
              <option value="1">Save and accept</option>
              <option value="2" selected="">Save only</option>
            </select>
            <button data-ng-click="$ctrl.create()">Create</button>
          </div>
        </fieldset>
      </div>
    </div>
  </section>
  <div class="clear"></div>
  <div class="clear"></div>
</article>