<article class="container_12">
  <h2>{{$ctrl.nurse.fullName}}</h2>
  <section class="grid_10">
    <div id="tab-global" class="tabs-content">
      <ul class="tabs js-tabs same-height">
        <li data-ng-repeat="tab in $ctrl.tabs" data-ng-class="{current: $ctrl.selectedTab == tab}">
          <a href="#/nurse/{{$ctrl.nurseId}}/{{tab}}" title="{{tab}}">{{tab}}</a>
        </li>
      </ul>
      <div class="tabs-content">
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.calendar">
          <iis-calendar entity-type="nurse" entity-id="{{$ctrl.nurseId}}"></iis-calendar>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.general">
          <div class="block-content form">
            <label for="status">Status</label>
            <select data-ng-model="$ctrl.nurse.status" id="status" class="full-width"
                    data-ng-change="$ctrl.update('status')"
                    data-ng-options="status for status in $ctrl.nurseStatuses">
            </select>
            <label for="firstName">First Name</label>
            <input type="text" data-ng-model="$ctrl.nurse.firstName" id="firstName" class="full-width"
                   data-on-change="$ctrl.update('firstName')">
            <label for="lastName">Last Name</label>
            <input type="text" data-ng-model="$ctrl.nurse.lastName" id="lastName" class="full-width"
                   data-on-change="$ctrl.update('lastName')">
            <label>Address</label>
            <div data-dd4-address="$ctrl.update('address')" data-ng-model="$ctrl.nurse.address"
                 class="full-width"></div>
            <label for="addrUnit">Unit #</label>
            <input type="text" data-ng-model="$ctrl.nurse.address.unit" id="addrUnit" size="4"
                   data-on-change="$ctrl.update('address')">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" data-ng-model="$ctrl.nurse.phoneNumber" id="phoneNumber"
                   class="full-width" data-on-change="$ctrl.update('phoneNumber')">
            <label for="email">Email Address</label>
            <input type="text" data-ng-model="$ctrl.nurse.email" id="email" class="full-width"
                   data-on-change="$ctrl.update('email')">
            <label for="userName">Username</label>
            <input type="text" data-ng-model="$ctrl.nurse.userName" id="userName" class="full-width"
                   data-on-change="$ctrl.update('userName')">
            <div data-ng-if="$ctrl.flags.nursePayEnabled">
              <label for="payFlat">Per Visit Pay</label>
              <input type="text" data-ng-model="$ctrl.nurse.payFlat" id="payFlat" class="full-width"
                     data-on-change="$ctrl.update('payFlat')">
              <label for="payRate">Pay Rate</label>
              <input type="text" data-ng-model="$ctrl.nurse.payRate" id="payRate" class="full-width"
                     data-on-change="$ctrl.update('payRate')">
              <label for="payFlat2HrSoc">&lt; 2hr SOC Visit Pay</label>
              <input type="text" data-ng-model="$ctrl.nurse.payFlat2HrSoc" id="payFlat2HrSoc"
                     class="full-width" data-on-change="$ctrl.update('payFlat2HrSoc')">
              <label for="payRate2HrSoc">&lt; 2hr SOC Pay Rate</label>
              <input type="text" data-ng-model="$ctrl.nurse.payRate2HrSoc" id="payRate2HrSoc"
                     class="full-width" data-on-change="$ctrl.update('payRate2HrSoc')">
              <label for="payFlat2HrRoc">&lt; 2hr FU Visit Pay</label>
              <input type="text" data-ng-model="$ctrl.nurse.payFlat2HrRoc" id="payFlat2HrRoc"
                     class="full-width" data-on-change="$ctrl.update('payFlat2HrRoc')">
              <label for="payRate2HrRoc">&lt; 2hr FU Pay Rate</label>
              <input type="text" data-ng-model="$ctrl.nurse.payRate2HrRoc" id="payRate2HrRoc"
                     class="full-width" data-on-change="$ctrl.update('payRate2HrRoc')">
              <label for="mileageRate">Mileage Rate</label>
              <input type="text" data-ng-model="$ctrl.nurse.mileageRate" id="mileageRate"
                     class="full-width" data-on-change="$ctrl.update('mileageRate')">
            </div>
          </div>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.licenses">
          <div id="tab-license">
            <div class="block-content form">
              <div data-ng-repeat="licenseCategory in $ctrl.licenseCategories">
                <h2>{{licenseCategory.name}}</h2>
                <div data-ng-repeat="license in licenseCategory.licenses | orderBy:'type.rank'">
                  <div class="columns">
                    <div class="colx2-left">
                      <div class="columns">
                        <div class="colx2-left">
                          <label>{{license.licTypeName}}</label>
                          <input type="text" data-ng-model="license.number"
                                 data-on-change="$ctrl.updateLicense(license, 'number')"/>
                        </div>
                        <p class="colx2-right">
                          <label>Valid Date</label>
                        <div data-dd4-datepicker="$ctrl.updateLicense(license, 'validDate')"
                             data-ng-model="license.validDate">
                        </div>
                        </p>
                      </div>
                    </div>
                    <div class="colx2-right">
                      <div class="columns">
                        <div data-ng-if="$ctrl.hasExpDate(license)" class="colx2-left">
                          <label>Exp Date</label>
                          <div data-dd4-datepicker="$ctrl.updateLicense(license, 'expirationDate')"
                               data-ng-model="license.expirationDate">
                          </div>
                        </div>
                        <div class="colx2-right">
                          <div data-ng-if="license.fileReference">
                            <a href="{{appCtrl.getFileUrl(license.fileReference)}}"
                               class="document-pdf" target="_blank">
                              <img src="images/icons/fugue/document-pdf.png" width="16" height="16">
                              Download</a>
                            <a href="" data-ng-click="$ctrl.showDeleteFileDialog(license)">
                              <img src="images/icons/fugue/cross-circle.png" width="16" height="16">
                            </a>
                          </div>
                          <button data-ng-if="license.id && !license.fileReference"
                                  data-ng-click="$ctrl.showUploadDialog(license)">
                            Upload File
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.unconfirmed">
          <div data-dd4-table="$ctrl.TableType.UNCONFIRMED"></div>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.pending">
          <div data-dd4-table="$ctrl.TableType.PENDING_ASSESSMENT"></div>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.reviewable">
          <div data-dd4-table="$ctrl.TableType.REVIEWABLE"></div>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.payable">
          <div class="block-border">
            <h1>Payable</h1>
            <table class="table sortable no-margin" cellspacing="0" width="100%" data-page-length="25">
              <thead>
              <tr>
                <th class="black-cell"><span data-ng-class="{loading: tableCtrl.loading}"></span></th>
                <th>Patient</th>
                <th>Date</th>
                <th>Payment Type</th>
                <th>Pay Hours</th>
                <th>Hourly Rate</th>
                <th>Visit Pay</th>
                <th>Pay Mileage</th>
                <th>Mileage Rate</th>
                <th>Total Payment</th>
              </tr>
              </thead>
              <tbody>
              <tr data-ng-repeat="payable in $ctrl.payables | orderBy:'start'">
                <td class="th table-check-cell">
                  <input type="checkbox" data-ng-model="payable.selected"
                         data-ng-change="$ctrl.updatePaystub()"/>
                </td>
                <td><a href="#/assessment/{{payable.id}}">{{payable.patientName}}</a></td>
                <td>{{payable.start | date:'MM/dd/yyyy'}}</td>
                <td><select data-ng-model="payable.paymentInfo.accountingTypeId"
                            data-ng-change="$ctrl.updatePayable(payable, 'paymentInfo')"
                            data-ng-options="generalData.id as generalData.name for generalData in generalDataService.list(GeneralData.ACCOUNTING_TYPE) | orderBy:'name'">
                </select>
                </td>
                <td><input type="text" data-ng-model="payable.paymentInfo.hours" style="width: 72px;"
                           data-on-change="$ctrl.updatePayable(payable, 'paymentInfo')"/></td>
                <td><input type="text" data-ng-model="payable.paymentInfo.hourlyRate"
                           style="width: 72px;"
                           data-on-change="$ctrl.updatePayable(payable, 'paymentInfo')"/></td>
                <td><input type="text" data-ng-model="payable.paymentInfo.flatRate" style="width: 72px;"
                           data-on-change="$ctrl.updatePayable(payable, 'paymentInfo')"/></td>
                <td><input type="text" data-ng-model="payable.paymentInfo.mileage" style="width: 72px;"
                           data-on-change="$ctrl.updatePayable(payable, 'paymentInfo')"/></td>
                <td><input type="text" data-ng-model="payable.paymentInfo.mileageRate"
                           style="width: 72px;"
                           data-on-change="$ctrl.updatePayable(payable, 'paymentInfo')"/></td>
                <td>{{payable.paymentInfo.total | currency}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <section class="grid_8">
            <div class="block-border">
              <div class="error-block"></div>
              <fieldset class="white-bg block-content form">
                <div class="columns">
                  <div class="colx3-left">
                    <label>Total Hours</label>
                    <div>{{$ctrl.paystub.loggedHours}}</div>
                  </div>
                  <div class="colx3-center">
                    <label>Total Mileage</label>
                    <div>{{$ctrl.paystub.mileage}}</div>
                  </div>
                  <div class="colx3-right">
                    <label>Net Payment</label>
                    <div>{{$ctrl.paystub.netPay | currency}}</div>
                  </div>
                </div>
                <label>Pay Date</label>
                <div data-dd4-datepicker data-ng-model="$ctrl.paystub.payDate"></div>
                <button data-ng-click="$ctrl.createPaystub()">Create Paystub</button>
              </fieldset>
            </div>
          </section>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.payHistory">
          <div data-dd4-table="$ctrl.TableType.PAY_HISTORY"></div>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.notes">
          <button style="float:right" data-ng-click="$ctrl.showAddNoteDialog()">Add Note</button>
          <div data-ng-if="!$ctrl.noteAdding" data-dd4-table="$ctrl.TableType.NOTES"></div>
          <note-add is-visible="$ctrl.addNoteDialogShown" on-state-change="$ctrl.onNoteDialogState()"
                    entity-type="Nurse" entity-id="{{$ctrl.nurseId}}"></note-add>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.changeHistory">
          <div data-dd4-table="$ctrl.TableType.CHANGE_HISTORY"></div>
        </div>
      </div>
    </div>
    <div data-ng-if="$ctrl.uploadDialogShown" id="modal" style="display: block;">
      <div class="modal-window block-border" style="display: block; left: 388px; top: 50px; width: 400px;">
        <ul class="action-tabs right">
          <li><a data-ng-click="$ctrl.closeUploadDialog()" title="Close">
            <img src="images/icons/fugue/cross-circle.png" width="16" height="16">
          </a></li>
        </ul>
        <div class="block-content form">
          <p>Select the file you wish to upload.</p>
          <input type="file" id="file" name="file"/>
          <button data-ng-click="$ctrl.uploadFile()">Upload</button>
          <button data-ng-click="$ctrl.closeUploadDialog()">Cancel</button>
        </div>
      </div>
    </div>
  </section>
</article>