<article class="container_12">
  <section class="grid_8">
    <div class="block-border">
      <div class="block-content form">
        <h1>Nurse Registration</h1>
        <fieldset class="white-bg required">
          <div class="columns">
            <div class="colx2-left">
              <label>Registration Date</label>
              <div data-dd4-datepicker data-ng-model="$ctrl.nurse.regDate"></div>
            </div>
            <p class="colx2-right">
              <label for="referralSource" class="">Referral Source</label>
              <input type="text" data-ng-model="$ctrl.nurse.referralSource" id="referralSource" class="full-width">
            </p>
          </div>
          <div class="columns">
            <div class="colx2-left">
              <label for="firstName" class="">First Name</label>
              <input type="text" data-ng-model="$ctrl.nurse.firstName" id="firstName" class="full-width">
            </div>
            <div class="colx2-right">
              <label for="lastName" class="">Last Name</label>
              <input type="text" data-ng-model="$ctrl.nurse.lastName" id="lastName" class="full-width">
            </div>
          </div>
          <div class="columns">
            <div class="colx2-left">
              <label>Address</label>
              <div data-dd4-address data-ng-model="$ctrl.nurse.address" class="full-width"></div>
            </div>
            <div class="colx2-right">
              <label for="addrUnit" class="">Unit #</label>
              <input type="text" data-ng-model="$ctrl.nurse.address.unit" id="addrUnit" size="4">
            </div>
          </div>
          <div class="columns">
            <p class="colx2-left">
              <label for="email" class="">Email Address</label>
              <input type="text" data-ng-model="$ctrl.nurse.email" id="email" class="full-width">
            </p>
            <p class="colx2-right">
              <label for="phoneNumber" class="">Phone Number</label>
              <input type="text" data-ng-model="$ctrl.nurse.phoneNumber" id="phoneNumber" class="full-width">
            </p>
          </div>
          <div>
            <h2>Pay Rates</h2>
            <div class="columns">
              <p class="colx3-left">
                <label>Hourly</label>
                <input type="number" data-ng-model="$ctrl.nurse.payRate" class="full-width">
              </p>
              <p class="colx3-center">
                <label>Visit</label>
                <input type="number" data-ng-model="$ctrl.nurse.payFlat" class="full-width">
              </p>
              <p class="colx3-right">
                <label>Mileage</label>
                <input type="number" data-ng-model="$ctrl.nurse.mileageRate" class="full-width">
              </p>
            </div>
          </div>
        </fieldset>

        <fieldset class="grey-bg no-margin">
          <button style="float:right" data-ng-click="$ctrl.create()">Submit</button>
        </fieldset>
      </div>
    </div>
  </section>
  <div class="clear"></div>
  <div class="clear"></div>
</article>
