<article class="container_12">
  <h1>Nurse: {{$ctrl.nurse.fullName}}</h1>
  <section class="grid_12">
    <div id="tab-global" class="tabs-content">
      <ul class="tabs js-tabs same-height">
        <li data-ng-repeat="tab in $ctrl.tabs" data-ng-show="tab.isEnabled()"
            data-ng-class="{current: $ctrl.selectedTab == tab}">
          <a data-ng-click="$ctrl.setSelectedTab(tab)" title="{{tab.name}}">{{tab.name}}</a>
        </li>
      </ul>
      <div class="tabs-content">
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.calendar">
          <iis-calendar entity-type="nurse" entity-id="{{$ctrl.nurseId}}"></iis-calendar>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.general">
          <div class="block-content form">
            <label for="status">Status</label>
            <select data-ng-model="$ctrl.nurse.status" id="status" class="full-width"
                    data-ng-change="$ctrl.update('status')"
                    data-ng-options="status for status in $ctrl.nurseStatuses">
            </select>
            <label for="firstName">First Name</label>
            <input type="text" data-ng-model="$ctrl.nurse.firstName" id="firstName" class="full-width"
                   data-on-change="$ctrl.update('firstName')">
            <label for="lastName">Last Name</label>
            <input type="text" data-ng-model="$ctrl.nurse.lastName" id="lastName" class="full-width"
                   data-on-change="$ctrl.update('lastName')">
            <label>Hire Date</label>
            <div data-dd4-datepicker="$ctrl.update('hireDate')" data-ng-model="$ctrl.nurse.hireDate"></div>
            <label>Address</label>
            <div data-dd4-address="$ctrl.update('address')" data-ng-model="$ctrl.nurse.address" class="full-width"></div>
            <label for="addrUnit">Unit #</label>
            <input type="text" data-ng-model="$ctrl.nurse.address.unit" id="addrUnit" size="4"
                   data-on-change="$ctrl.update('address')">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" data-ng-model="$ctrl.nurse.phoneNumber" id="phoneNumber"
                   class="full-width" data-on-change="$ctrl.update('phoneNumber')">
            <label for="email">Email Address</label>
            <input type="text" data-ng-model="$ctrl.nurse.email" id="email" class="full-width"
                   data-on-change="$ctrl.update('email')">
            <label for="username">Username</label>
            <input type="text" data-ng-model="$ctrl.nurse.username" id="username" class="full-width"
                   data-on-change="$ctrl.update('username')">
            <label for="payPreference">Pay Preference</label>
            <select data-ng-model="$ctrl.nurse.payPreference" id="payPreference" class="full-width"
                    data-ng-change="$ctrl.update('payPreference')"
                    data-ng-options="payPreference for payPreference in $ctrl.payPreferences"></select>
            <div data-ng-if="$ctrl.flags.payCodesEnabled">
              <label for="payFlat">Per Visit Pay</label>
              <input type="text" data-ng-model="$ctrl.nurse.payFlat" id="payFlat" class="full-width"
                     data-on-change="$ctrl.update('payFlat')">
              <label for="payRate">Per Hour Rate</label>
              <input type="text" data-ng-model="$ctrl.nurse.payRate" id="payRate" class="full-width"
                     data-on-change="$ctrl.update('payRate')">
              <label for="mileageRate">Mileage Rate</label>
              <input type="text" data-ng-model="$ctrl.nurse.mileageRate" id="mileageRate"
                     class="full-width" data-on-change="$ctrl.update('mileageRate')">
            </div>
            <div class="block-content form">
              <p class="message error no-margin" data-ng-show="pwError">{{pwError}}</p>
              <h1>Change Password</h1>
              <label for="password">Password</label>
              <input type="password" id="password" data-ng-model="$ctrl.password" class="full-width"/>
              <label for="confirmation">Confirm Password</label>
              <input type="password" id="confirmation" data-ng-model="$ctrl.confirmation" class="full-width"/>
              <button data-ng-click="$ctrl.setPassword()">Change</button>
            </div>
          </div>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.licenses">
          <iis-license nurse-id="{{$ctrl.nurseId}}"></iis-license>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.appointments">
          <iis-table metadata="$ctrl.TableType.APPOINTMENTS"></iis-table>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.payCodes">
          <dd4-table metadata="$ctrl.TableType.PAY_CODES"></dd4-table>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.pending">
          <iis-table metadata="$ctrl.TableType.PENDING_ASSESSMENT"></iis-table>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.reviewable">
          <dd4-table metadata="$ctrl.TableType.REVIEWABLE"></dd4-table>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.payable">
          <iis-payable purpose="Payable" entity-type="Nurse" entity-id="{{$ctrl.nurseId}}"></iis-payable>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.payHistory">
          <dd4-table metadata="$ctrl.TableType.PAY_HISTORY"></dd4-table>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.notes">
          <note-table metadata="$ctrl.TableType.NOTES" entity-type="Nurse" entity-id="{{$ctrl.nurseId}}"></note-table>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.changeHistory">
          <dd4-table metadata="$ctrl.TableType.CHANGE_HISTORY"></dd4-table>
        </div>
      </div>
    </div>
  </section>
</article>