<article class="container_12">
  <h2>Patient: {{$ctrl.patient.fullName}}</h2>
  <section class="grid_12">
    <div id="tab-global" class="tabs-content">
      <ul class="tabs js-tabs same-height">
        <li data-ng-repeat="tab in $ctrl.tabs" data-ng-show="tab.isEnabled()"
            data-ng-class="{current: $ctrl.selectedTab == tab}">
          <a data-ng-click="$ctrl.setSelectedTab(tab)" title="{{tab.name}}">{{tab.name}}</a>
        </li>
      </ul>
      <div class="tabs-content">
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.calendar" style="height: 640px;">
          <iis-calendar entity-type="patient" entity-id="{{$ctrl.patientId}}"></iis-calendar>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.general">
          <div class="block-content form">
            <label for="status">Patient Status</label>
            <select data-ng-model="$ctrl.patient.status" id="status" class="full-width" data-on-change="$ctrl.update('status')"
                    data-ng-options="status for status in enums.PatientStatus | orderBy:'status' | limitTo: 8">
            </select>
            <label for="firstName">First Name</label>
            <input type="text" data-ng-model="$ctrl.patient.firstName" id="firstName" class="full-width" data-on-change="$ctrl.update('firstName')">
            <label for="lastName">Last Name</label>
            <input type="text" data-ng-model="$ctrl.patient.lastName" id="lastName" class="full-width" data-on-change="$ctrl.update('lastName')">
            <label>Date of Birth</label>
            <div data-dd4-datepicker="$ctrl.update('dateOfBirth')" data-ng-model="$ctrl.patient.dateOfBirth"></div>
            <label>Service Address</label>
            <div data-dd4-address="$ctrl.update('serviceAddress')" data-ng-model="$ctrl.patient.serviceAddress" class="full-width"></div>
            <label for="serviceAddrUnit">Unit #</label>
            <input type="text" data-ng-model="$ctrl.patient.serviceAddress.unit" id="serviceAddrUnit" size="4" data-on-change="$ctrl.update('serviceAddress')">
            <label for="primaryPhoneNumber">Primary Phone Number</label>
            <input type="text" data-ng-model="$ctrl.patient.primaryPhone.number" id="primaryPhoneNumber" size="20" data-on-change="$ctrl.update('primaryPhone')">
            <select data-ng-model="$ctrl.patient.primaryPhone.typeId" id="primaryPhoneTypeId" data-on-change="$ctrl.update('primaryPhone')"
                    data-ng-options="generalData.id as generalData.name for generalData in generalDataService.list(GeneralData.PHONE_TYPE) | orderBy:'name'">
            </select>
            <label for="alternatePhoneNumber">Alt Contact Number</label>
            <input type="text" data-ng-model="$ctrl.patient.alternatePhone.number" id="alternatePhoneNumber" size="20" data-on-change="$ctrl.update('alternatePhone')">
            <select data-ng-model="$ctrl.patient.alternatePhone.typeId" id="alternatePhoneTypeId" data-on-change="$ctrl.update('alternatePhone')"
                    data-ng-options="generalData.id as generalData.name for generalData in generalDataService.list(GeneralData.PHONE_TYPE) | orderBy:'name'">
            </select>
            <label for="emergencyContact">Emergency Contact</label>
            <input type="text" data-ng-model="$ctrl.patient.emergencyContact" id="emergencyContact" class="full-width" data-on-change="$ctrl.update('emergencyContact')">
            <label for="emergencyContactPhoneNumber">Emergency Contact Number</label>
            <input type="text" data-ng-model="$ctrl.patient.emergencyContactPhone.number" id="emergencyContactPhoneNumber" size="20" data-on-change="$ctrl.update('emergencyContactPhone')">
            <select data-ng-model="$ctrl.patient.emergencyContactPhone.typeId" id="emergencyContactPhoneTypeId" data-on-change="$ctrl.update('emergencyContactPhone')"
                    data-ng-options="generalData.id as generalData.name for generalData in generalDataService.list(GeneralData.PHONE_TYPE) | orderBy:'name'">
            </select>
            <label>Referral Date</label>
            <div data-dd4-datepicker="$ctrl.update('referralDate')" data-ng-model="$ctrl.patient.referralDate"></div>
            <label for="billingVendorId">Billing Vendor</label>
            <select data-ng-model="$ctrl.patient.billingVendorId" id="billingVendorId" class="full-width" data-on-change="$ctrl.update('billingVendorId')"
                    data-ng-options="vendor.id as vendor.name for vendor in $ctrl.vendors | orderBy:'name'">
            </select>
            <label for="referralSourceId">Referral Source</label>
            <select data-ng-model="$ctrl.patient.referralSourceId" id="referralSourceId" class="full-width" data-on-change="$ctrl.update('referralSourceId')"
                    data-ng-options="vendor.id as vendor.name for vendor in $ctrl.vendors | orderBy:'name'">
            </select>
            <label for="mrNum">Medical Record #</label>
            <input type="text" data-ng-model="$ctrl.patient.mrNum" id="mrNum" class="full-width" data-on-change="$ctrl.update('mrNum')">

            <label for="diagnosis">Diagnosis</label>
            <input type="text" id="diagnosis" list="diagnosisList" data-ng-model="$ctrl.patient.diagnosis"
                   class="full-width" data-on-change="$ctrl.update('diagnosis')">
            <datalist id="diagnosisList">
              <option data-ng-repeat="gd in generalDataService.list(GeneralData.DIAGNOSIS) | orderBy:'name'"
                      value="{{gd.name}}"></option>
            </datalist>
            <label for="therapyType">Therapy Type</label>
            <input type="text" id="therapyType" list="therapyTypeList" data-ng-model="$ctrl.patient.therapyType"
                   class="full-width" data-on-change="$ctrl.update('therapyType')">
            <datalist id="therapyTypeList">
              <option data-ng-repeat="gd in generalDataService.list(GeneralData.THERAPY_TYPE) | orderBy:'name'"
                      value="{{gd.name}}"></option>
            </datalist>
            <label for="rx">Pt Rx</label>
            <input type="text" id="rx" list="rxList" data-ng-model="$ctrl.patient.rx" class="full-width"
                   data-on-change="$ctrl.update('rx')">
            <label>Titration</label>
            <input type="text" data-ng-model="$ctrl.patient.titration" data-on-change="$ctrl.update('titration')">
            <datalist id="rxList">
              <option data-ng-repeat="gd in generalDataService.list(GeneralData.RX) | orderBy:'name'"
                      value="{{gd.name}}"></option>
            </datalist>
            <label>Start Date</label>
            <div data-dd4-datepicker="$ctrl.update('startOfCareDate')" data-ng-model="$ctrl.patient.startOfCareDate"></div>
            <label>Est. Last Day of Serice</label>
            <div data-dd4-datepicker="$ctrl.update('estLastDayOfService')" data-ng-model="$ctrl.patient.estLastDayOfService"></div>
            <p><span class="label">Labs? [Frequency]</span>
              <input type="checkbox">
              <input type="text" data-ng-model="$ctrl.patient.labsFrequency" id="labsFrequency" data-on-change="$ctrl.update('labsFrequency')">
            </p>
            <label>1st Re-certification</label>
            <div data-dd4-datepicker="$ctrl.update('firstRecertDue')" data-ng-model="$ctrl.patient.firstRecertDue"></div>
            <label>DC Date</label>
            <div data-dd4-datepicker="$ctrl.update('dcDate')" data-ng-model="$ctrl.patient.dcDate"></div>
            <label for="infoInSOS">PT Info in SOS?</label>
            <input type="checkbox" class="full-width" data-ng-model="$ctrl.patient.infoInSOS" id="infoInSOS" value="true" checked="" data-on-change="$ctrl.update('infoInSOS')">
            <label for="schedulingPreference">Scheduling Preference</label>
            <input type="text" data-ng-model="$ctrl.patient.schedulingPreference" id="schedulingPreference" class="full-width" data-on-change="$ctrl.update('schedulingPreference')">
            <label for="referralNote">Notes</label>
            <textarea data-ng-model="$ctrl.patient.referralNote" id="referralNote" rows="10" class="full-width" data-on-change="$ctrl.update('referralNote')"></textarea>
          </div>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.map" style="height: 480px;">
          <div id="map-canvas">
            <button data-ng-click="$ctrl.loadMap()">Load Map</button>
          </div>
          <ol class="map-list">
            <li data-ng-repeat="closestNurse in $ctrl.closestNurses">
              {{closestNurse.nurse.fullName}} ({{closestNurse.distance}} miles)
            </li>
          </ol>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.appointments">
          <dd4-table metadata="$ctrl.TableType.APPOINTMENTS"></dd4-table>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.pending">
          <dd4-table metadata="$ctrl.TableType.PENDING_ASSESSMENT" filter="state=PENDING_ASSESSMENT"></dd4-table>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.completed">
          <dd4-table metadata="$ctrl.TableType.COMPLETED_ASSESSMENT"></dd4-table>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.notes">
          <note-table metadata="$ctrl.TableType.NOTES" entity-type="Patient" entity-id="{{$ctrl.patientId}}"></note-table>
        </div>
        <div data-ng-if="$ctrl.selectedTab == $ctrl.tabs.changeHistory">
          <dd4-table metadata="$ctrl.TableType.CHANGE_HISTORY"></dd4-table>
        </div>
      </div>
    </div>
  </section>
</article>