<article class="container_12">
  <h2>Reports</h2>
  <section class="grid_8">
    <div class="block-content form">
      <ul>
        <li data-ng-repeat="report in $ctrl.reports">
          <a href="https://docs.google.com/spreadsheets/d/{{report.id}}" target="{{report.shortName}}">
            <img src="images/icons/fugue/document-excel.png" alt="View report"/> {{report.title}}</a>
          <button data-ng-click="$ctrl.updateReport(report)" data-ng-disabled="report.updating">Update</button>
          <span>Last Updated:
            <span data-ng-if="!report.updating">{{report.lastModifiedTime | date:'short'}} By: {{report.lastModifiedUsername}}</span>
            <img data-ng-if="report.updating" alt="loading..." src="images/loading.gif" width="24px" height="24px">
          </span>
        </li>
      </ul>
    </div>
  </section>
</article>